* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom left, #80cbc4, #51d0c3);
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

html,
body,
#root,
.app {
  height: 100%;
}

h1 {
  margin-bottom: 4rem;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.calculator {
  border: 1px solid #80cbc4;
  max-width: 15rem;
  width: 100%;
  background: linear-gradient(to bottom, #292e3e, #16203e);
  border-radius: 2px;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.12);
  font-size: 1.5rem;
  color: #fff;
}

.calculator__display {
  padding: 1rem 1.3rem;
  text-align: right;
  background: #16203e;
  word-break: break-all;
}

.calculator__body {
  display: flex;
  flex-wrap: wrap;
}

.calculator__key {
  width: 25%;
  text-align: center;
  padding: .75rem 1rem;
  cursor: pointer;
  user-select: none;
  color: rgba(255,255,255,.7);
  
  /* background: #292e3e;
  border: 1px solid #46506f; */
}
